<div class="post">
  <ul>
    <li class="polaroid first"><%= image_tag @post.image.url(:custom) %></li>
    <li class="title"><%= @post.title %></li>
    <li class="message"><%= @message %></li>
  </ul>
</div>


